<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
      <div class="container w-container">
        <a href="{{ links.2f }}" aria-current="page" class="w-nav-brand w--current">{%- image images.3f051525.url, images.3f051525.alt, '[]', 'loading="lazy" width="244"' -%}</a>
        <nav role="navigation" class="nav-menu w-nav-menu">
          <a href="{{ links.35419022 }}" class="button w-button">{{ texts.7c61103a }}<strong>{{ texts.-2b7c89a7 }}</strong></a>
          <a href="{{ links.117283 }}" class="button-2 w-button">{{ texts.-177e2c38 }}</a>
          <div data-hover="false" data-delay="0" class="dropdown w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="w-icon-dropdown-toggle"></div>
              <div class="text-block-4">
                <a href="{{ links.23 }}" class="link-18">{{ texts.1449b50f }}</a>
              </div>
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <a href="{{ links.71e93ea6 }}" class="w-dropdown-link">{{ texts.5ec134e4 }}</a>
              <a href="{{ links.-1c4a01d9 }}" class="w-dropdown-link">{{ texts.107de87f }}</a>
              <a href="{{ links.-74a6a13e }}" class="w-dropdown-link">{{ texts.28f04e2e }}</a>
              <a href="{{ links.23 }}" class="w-dropdown-link">{{ texts.-442535b1 }}</a>
              <a href="{{ links.23 }}" class="w-dropdown-link">{{ texts.-7bf720d7 }}</a>
            </nav>
          </div>
          <div data-delay="0" data-hover="false" class="dropdown-2 w-dropdown">
            <div class="dropdown-toggle-2 w-dropdown-toggle">
              <div class="w-icon-dropdown-toggle"></div>
              <div>
                <a href="{{ links.23 }}" class="link-19">{{ texts.-3883192b }}</a>
              </div>
            </div>
            <nav class="dropdown-list-2 w-dropdown-list">
              <a href="{{ links.-356ea7d8 }}" class="w-dropdown-link">{{ texts.74989e39 }}</a>
              <a href="{{ links.71834c81 }}" class="w-dropdown-link">{{ texts.-423e6e53 }}</a>
              <a href="{{ links.23 }}" class="w-dropdown-link">{{ texts.2e1d8608 }}</a>
              <a href="{{ links.-1c4a01d9 }}" class="w-dropdown-link">{{ texts.107de87f }}</a>
            </nav>
          </div>
          <a href="{{ links.3865fd32 }}" class="nav-link-3 w-nav-link">{{ texts.7b3ec11f }}</a>
        </nav>
        <div class="menu-button w-nav-button">
          <div class="icon w-icon-nav-menu"></div>
        </div>
      </div>
    </div>